<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form>

        <div class="mb-3">
          <label for="validationServer01" class="form-label">First name</label>
          <input type="text" class="form-control" id="validationServer01" value="Mark" required>

        </div>
        <div class="mb-3">
          <label for="validationServer02" class="form-label">Last name</label>
          <input type="text" class="form-control" id="validationServer02" value="Otto" required>

        </div>
        <div class="mb-3">
          <select class="form-select" required aria-label="select example">
            <option value="">Open this select menu</option>
            <option value="1">perro</option>
            <option value="2">gato</option>
          </select>
          <div class="invalid-feedback">Example invalid select feedback</div>
        </div>

        <div class="mb-3">
          <label for="validationTextarea" class="form-label">Textarea</label>
          <textarea class="form-control" id="validationTextarea" placeholder="Required example textarea"
            required></textarea>
          <div class="invalid-feedback">
            Please enter a message in the textarea.
          </div>
        </div>
        
        <button type="submit" class="btn btn-primary w-100">Submit</button>
      </form>
    </div>
  </div>
</div>